<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Prueba tabla</title>
</head>
<body id="datos">
<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
		   <tr>
				<td>r:0, c:0</td>
				<td>r:0, c:1</td>
				<td>r:0, c:2</td>
				<td>r:0, c:3</td>
				<td>r:0, c:4</td>
		   </tr>
		   <tr>
				<td>r:1, c:0</td>
				<td>r:1, c:1</td>
				<td>r:1, c:2</td>
				<td>r:1, c:3</td>
				<td>r:1, c:4</td>
		   </tr>
		   <tr>
				<td>r:2, c:0</td>
				<td>r:2, c:1</td>
				<td>r:2, c:2</td>
				<td>r:2, c:3</td>
				<td>r:2, c:4</td>
		   </tr>
		   <tr>
				<td>r:3, c:0</td>
				<td>r:3, c:1</td>
				<td>r:3, c:2</td>
				<td>r:3, c:3</td>
				<td>r:3, c:4</td>
		   </tr>
		   <tr>
				<td>r:4, c:0</td>
				<td>r:4, c:1</td>
				<td>r:4, c:2</td>
				<td>r:4, c:3</td>
				<td>r:4, c:4</td>
		   </tr>
		</tbody>
		
	</table>
</body>
</html>